:root {
    --color-negro: #1E1E1E;
    --color-cherry-oscuro: #500e10;
    --color-cherry-medio: #D20A2E;
    --color-cherry-claro: #DE3163;
    --color-crema: #a9a9a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

body {
    background: var(--color-crema);
    font-family: "Segoe UI";
    color: var(--color-cherry-medio);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
    margin: 15px 0;
}

header {
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.title {
    color: var(--color-cherry-oscuro);
}

.autor {
    color: var(--color-cherry-oscuro);
} 

main {
    display: grid;
    width: 500px;
    background-color: var(--color-negro);
    border-radius: 12px;
    padding: 25px 40px;  
    gap: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border-radius: 8px;
    width: 100%;
    padding: 12px 15px;
    background-color: var(--color-cherry-oscuro);
    border: 1px solid var(--color-cherry-claro);
    transition: all 0.2s;
    color: var(--color-cherry-claro);
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(233, 47, 47, 0.474);
}

.registrar {
    padding: 15px 20px;
    width: 150px;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    border-radius: 8px;
    font-family: "Segoe UI";
    font-weight: 600;
    color: var(--color-crema);
    background-color: var(--color-cherry-medio);
    cursor: pointer;
    transition: all 0.2s;
}

@media (max-width: 610px) {
    main {
        width: 300px;
    }
}